Django==6.0.4
django-unfold==0.94.0
django-htmx==1.27.0
django-environ==0.13.0
django-allauth==65.15.1
psycopg2-binary==2.9.11
dj-database-url==3.1.2
django-rls==1.0.0
channels==4.3.2
daphne==4.2.1
channels-redis==4.3.0
celery==5.5.0
django-celery-results==2.6.0
redis==6.0.1
django-storages==1.14.6
boto3==1.42.88
django-tailwind-cli==4.6.0
requests==2.32.3
Pillow==12.2.0
qrcode[pil]==8.2
whitenoise==6.9.0
